.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  bottom: 100px;
  right: 0;
}

@media (768px <= width <= 1023px) {
  .header__square-pic {
    width: 400px;
    height: 400px;
  }
}

@media (500px <= width <=767px) {
  .header__square-pic {
    width: 300px;
    height: 300px;
  }
}

@media (400px <= width <= 499px) {
  .header__square-pic {
    width: 300px;
    height: 300px;
    bottom: 20px;
  }
}

@media (width <= 399px) {
  .header__square-pic {
    height: 200px;
    width: 200px;
    bottom: 30px;
  }
}