.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image:url(../../../images/logo_place_header.svg);
  background-position: center;
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo_place_header {
    left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .logo_place_header {
    top: 16px;
    left: 16px;
  }
}