.section-title {
  width: 90%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 auto 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (768px <= width < 1024px) {
  .section-title {
    font-size: 56px;
  }
}

@media (width < 768px) {
  .section-title {
    font-size: 44px;
  }
}
