.video {
  margin: 0 auto;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
}

@media (1024px <= width <= 1280px) {
  .video {
    padding: 70px 0 0;
  }
}

@media (768px <= width < 1024px) {
  .video {
    padding: 50px 0 0;
  }
}

@media (width < 768px) {
  .video {
    padding: 30px 0 0;
  }
}