.header {
  height: 100vh;
  max-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 499px) {
  .header {
    height: 100lvh;
  }
} 
