.header {
  height: 100dvh;
  max-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

@media (width < 500px) {
  .header {
    height: 100dvh;
  }
} 
