.two-columns__main-text {
  width: 80%;
  /* min-width: 784px; */
  font-size: 24px;
  line-height: 1.8;
  font-weight: normal;
}


@media (768px <= width <= 1024px) {
  .two-columns__main-text {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media (width < 768px) {
  .two-columns__main-text {
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
  }
}