.two-columns__main-text {
  width: 80%;
  /* min-width: 784px; */
  font-size: 24px;
  line-height: 1.8;
  font-weight: normal;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .two-columns__main-text {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 767px) {
  .two-columns__main-text {
    font-size: 16px;
    line-height: 1.6;
  }
}