.khan__quoye-author-subline {
  margin: 0 0 68px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
}

@media (500px <= width <= 1024px) {
  .khan__quoye-author-subline {
    font-size: 20px;
    margin: 0 0 34px;
  }
}

@media (width < 500px) {
  .khan__quoye-author-subline {
    font-size: 16px;
    margin: 0 0 17px;
  }
}