.resources__logo-zone {
  width: 90%;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
}

@media (width <= 768px) {
  .resources__logo-zone {
    flex-direction: column;
  }
}