.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (width <= 768px) {
  .two-columns {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}