.header__title {
  width: 730px;
  margin: 0;
  padding: 0 0 0 64px;
  z-index: 2;
  font-size: 102px;
  line-height: 0.94;
  font-weight: 600;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__title {
    font-size: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__title {
    width: 600px;
    font-size: 64px;
    padding: 0 0 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    width: 90%;
    font-size: 40px;
    padding: 0 0 0 16px;
  }
}

